<div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="2rem">
  <app-people-list-order (orderChanged)="onOrder($event)"></app-people-list-order>

  <app-filter (filterChange)="onSearch($event)"></app-filter>
</div>
<mat-divider></mat-divider>

<app-card-list [semaphores$]="semaphores$" class="sw__list">
  <app-people-list-item fxFlex
                        *ngFor="let item of items"
                        [item]="item">
  </app-people-list-item>
</app-card-list>
<mat-paginator (page)="onChangePagination($event)" [pageSize]="10"></mat-paginator>
