<mat-card class="sw__card" fxLayout="column" fxLayoutAlign="space-between">
  <div>
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card-title>
        <ng-content select="[header]"></ng-content>
      </mat-card-title>
      <div>
        <mat-icon *ngIf="isFavorite$ | async" color="primary">star</mat-icon>
      </div>
    </mat-card-header>

    <div>
      <mat-divider></mat-divider>
    </div>
  </div>
  <mat-card-content fxLayout="column" fxLayoutGap="1rem" class="sw__content">
    <ng-content select="[content]"></ng-content>
  </mat-card-content>

  <mat-card-actions>
    <div fxLayout fxLayoutAlign="end" class="sw__detail">
      <ng-content select="[actions]">
      </ng-content>
    </div>
  </mat-card-actions>
</mat-card>

