<app-card-list-item class="sw__card sw__card--item" [isFavorite$]="isFavorite$">
  <div header>{{ item.name }}</div>
  <div content>
    <div fxLayout fxLayoutAlign="space-between center" fxLayoutGap="2rem">
      <span>Birthdate</span>
      <span>
            <ng-template [ngIf]="item.birth_year !== 'unknown'"
                         [ngIfElse]="noData">
              {{ item.birth_year }}
            </ng-template>
            <ng-template #noData>No data</ng-template>
          </span>
    </div>
  </div>

  <div actions *ngIf="itemId">
    <app-people-favorite [isFavorite$]="isFavorite$"
                         [itemId]="itemId">
    </app-people-favorite>

    <a mat-stroked-button
       color="primary"
       [routerLink]="['./', itemId ]">
      See more
    </a>
  </div>
</app-card-list-item>
