.sw {
  &__container {
    max-width: 64rem;
    margin: 0 auto;
  }

  &__list {
    margin: 2rem;
    display: block;
  }

  &__card {
    font-family: StarWars, sans-serif;
    width: 100%;
    box-sizing: border-box;

    .mat-list-item {
      font-family: StarWars, sans-serif;
    }

    &--item {
      height: 250px;
      display: block;
      min-width: 260px;
    }
  }

  &__content {
    margin-top: 1rem;
  }
}
